# Environment
.env
.env.*

# Virtual environment
.venv/

# Python artifacts
__pycache__/
*.py[cod]

# Lavalink
plugins/

# Logs
logs/
*.log*

# Data files
cogs/data

# SSL certificates
*.crt

# IDE
.vscode/